<main class="index">

    <header class="masthead d-felx">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Hiper-link</h1>
            <h3 class="mb-5">
                <em>Store your favorite links / Almacena tus links favoritos </em>
            </h3>
            <a href="/login" class="btn btn-primary">
            Let's get Started ! / Empezemos ! </a>
        </div>
    </header>
</main>

